.hover {
  transition: var(--transition-micro-medium);

  &:hover {
    transform: translateX(var(--static-space-4));
  }
}

.avatar {
  position: sticky;
  height: fit-content;
  top: var(--static-space-64);
}

@media (--s) {
  .avatar {
    top: auto;
  }

  .textAlign {
    text-align: center;
  }

  .blockAlign {
    align-self: center;
  }
}

@media (min-width: 1500px) {
  .infosnippet {
    position: relative;
    right: 98px;
  }
}
@media (min-width: 1025px) and (max-width: 1499px) {
  .infosnippet {
    position: relative;
    left: 37px;
  }
}

@media (max-width: 1499px) {
  .aboutIntro {
    margin-bottom: 40px;
  }
}

.projectsimg {
  height: 100%;
  width: 100%;
  border-radius: 15px;
}

.projectspacing {
  width: 100%;
  min-height: 250px;
}

.projectimgtext {
  color: white;//#0D483C;
  transition:color 1s ease;
}

.darkoverlay {
  width: 100%;
}

.darkoverlay img {
  filter: brightness(25%);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.darkoverlay:hover img {
  filter: brightness(100%);
}

.darkoverlay:hover .projectimgtext {
  color: transparent;
}


.kbdoverview {
  background-image: linear-gradient(to bottom right,black, var(--brand-background-strong)); //#0D483C
  font-weight: var(--font-weight-heading-strong);
  font-family: var(--font-family-heading);
}

.stripped {
  text-decoration: inherit !important;
  color: inherit;
}

.kbdoverview:hover {
  background-image: linear-gradient( var(--brand-background-strong)); //#0D483C
}

.bulletpoints {
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}