.hover {
  transition: var(--transition-micro-medium);

  &:hover {
    transform: translateX(var(--static-space-4));
  }
}

.avatar {
  position: sticky;
  height: fit-content;
  top: var(--static-space-64);
}

@media (--s) {
  .avatar {
    top: auto;
  }

  .textAlign {
    text-align: center;
  }

  .blockAlign {
    align-self: center;
  }
}

@media (min-width: 1500px) {
  .infosnippet {
    position: relative;
    right: 98px;
  }
}
@media (min-width: 1025px) and (max-width: 1499px) {
  .infosnippet {
    position: relative;
    left: 37px;
  }
}

.fancyFont {
  font-family: "Brush Script MT", cursive;
}
