.hover {
    transition: var(--transition-micro-medium);

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            transform: translateX(var(--static-space-8));
        }
    }
}

.image {
    width: 100%;
}